#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Make the container a grid */
.board-row {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Adjust the number (4) to how many columns you want */
  gap: 10px; /* Optional: adds space between squares */
}
